/* ip11 */
@media only screen 
and (device-width: 414px) 
and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 2){ 
    /* Styles */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
    }
    body {
        height: 896px;
        background-color: #7F669D;
        overflow: hidden;
    }
    .contain {
        overflow: hidden;
        position: relative;
        height: 725px;
    }
    .btn {
        width: 80%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
        z-index: 3;
        /* display: none; */
    }
    .btn p {
        text-transform: uppercase;
        font-style: italic;
        font-size: 22px;
        color: #FBFACD;
        padding: 12px;
        background-color: transparent;
        border: 1px solid #FBFACD;
        font-weight: 700;
        box-shadow: -1px 2px 10px lightyellow;
        z-index: 2;
    }
    .intro {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;    
    }
    .content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
    }
    .content h2 {
        width: 100%;
        position: absolute;
        top: 50%;        
        text-align: center;
        margin: auto;
        color: #FFE15D;
        animation: fadeInOut 3s ease-in both;
    }
    .content .frame-1 {
        animation-delay: 0s;
    }   
    .content .frame-2 {
        animation-delay: 3s;
    }
    .content .frame-3 {
        animation-delay: 6s;
    }
    .content .frame-4 {
        animation-delay: 9s;
    }
    .content .frame-5 {
        animation-delay: 12s;
    }
    .content .frame-6 {
        font-size: 18px;
        animation-delay: 15s;
    }
    .content .frame-7 {
        font-size: 18px;
        animation-delay: 18s;
    }
    .content .frame-8 {
        font-size: 18px;
        animation-delay: 21s;
    }
    .content .frame-9 {
        font-size: 18px;
        animation-delay: 24s;
    }
    .content .frame-10 {
        font-size: 18px;
        animation-delay: 27s;
    }
    .content .frame-11 {
        font-size: 18px;
        animation-delay: 30s;
    }
    .form {
        position: absolute;
        width: 100%;
        height: 280px;
        top: 45%;
        transform: translate(-50%,-50%);
        left: 50%;
        text-align: center;
        display: none;
    }
    .form-img {
        position: absolute;
        background-image: url(../Music/bgpaper1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        left: 0;
    }
    .form-img__baby-wreath {
        position: absolute;
        background-image: url(../Music/baby_breath_wreath-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 170px;
        height: 120px;
        top: -50px;
        left: 50%;
        transform: translateX(-50%) scale(1.5);
    }

    .form-img__baby-flower {
        background-image: url(../Music/baby_flower-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 150px;
        position: absolute;
        bottom: 0;
        right: -10px;
        transform: rotate(-32deg);
    }
    .form-img__baby-flower1 {
        background-image: url(../Music/baby_flower1-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 150px;
        position: absolute;
        bottom: 0;
        left: -10px;
        transform: rotate(64deg);
    }
    .form-content {
        position: absolute;
        margin: auto;
        padding: 18px 16px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        outline: none;
        border: none;
        width: 67%;
        top: 32%;
        transform: translateX(-50%);
        left: 50%;
        text-align: center;
    }
    .form-content:placeholder-shown {
        font-weight: 700;
    }
    .form-btn {
        width: 40%;
        padding: 6px 20px;
        border-radius: 27% 73% 10% 90% / 75% 24% 76% 25%;
        margin: 32px auto 0;
        background-color: #e7e5d3;
        height: 30px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: 50%;
    }
    .image-wrong {
        height: 100%;
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, #cc66ff 48%, #9900ff 89%);
        opacity: 1;
        display: none;
    }
    .img-sad1 {
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 150px;
        width: 124px;
        height: 124px;
        background-image: url(../Music/cute-pig.gif);
        box-shadow: 0px 0px 12px #fff;
        border-radius: 50%;
        transform: scale(1.8);
        animation: ScaleImg 2s ease-in;
    }
    .img-content1 {
        position: absolute;
        top: 60%;
        color: #fff;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
        letter-spacing: 1.3px;
        font-size: 22px;
        animation: fadeInOut 2s ease-in both;
        animation-delay: 2s;
    }
    .img-content2 {
        position: absolute;
        top: 60%;
        color: #fff;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
        letter-spacing: 1.3px;
        font-size: 22px;
        animation: fadeInOut 2s ease-in both;
        animation-delay: 5s;
    }
    /* Birthday */
    @keyframes fuego {
        0%, 100% {
            background: rgba(254, 248, 97, 0.5);
            box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
            transform: translateY(0) scale(1);
        }
        50% {
            background: rgba(255, 50, 0, 0.1);
            box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
            transform: translateY(-20px) scale(0);
        }
    }
    @keyframes SlideIn {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes in {
        to {
            transform: translateY(0);
        }
    }
    @keyframes Updown {
        0% {
            transform: translateY(-20px);
            opacity: 0;
        }        
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes Rotate {
        0% {
            transform: rotate(5deg);
        }
        50% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(5deg);
        }
    }
    @keyframes ScaleImg {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.8);
        }
    }
    @keyframes fadeInOut {
        0% {
            opacity: 0;
            text-shadow:  0 0 20px #fff;
            transform: scale(1.3);
        }
        20%, 75% {
            opacity: 1;
            text-shadow:  0 0 1px #fff;
            transform: scale(1);
        }
        100% {
            display: none;
            text-shadow:  0 0 20px #fff;
            transform: scale(0);
        }
    }
    @keyframes heart {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes move {
        0% {
            opacity: 0;
            transform: translateY(0);
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateY(580px);
        }
    }
    @keyframes star {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes Fade {
        from {
            opacity: 1;
        }
        to {    
            opacity: 0;
            display: none;
        }
    }
}